
html{
    height: 100%;
}


.container {
    min-width:100%;
}

#log-in-btn {
    margin-right: 100px;
    margin-bottom: 80px;
    background-color: #9BADB5;
    color: #1497A3;
    margin-top: 120px;
    padding-right: 30px;
    padding-left: 30px;

}


#sign-up-btn {
    margin-right: 100px;
    background-color: #9BADB5;
    color: #1497A3;
    padding-right: 30px;
    padding-left: 30px;
    text: bold;


}

.jumbotron {
    background-color: #1497A3;
    color: white;
    height: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
    opacity: .80;

}


body {
    background-image: url("../images/brooke-lark-250695_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    margin-right:20px;
    min-height: 100%;
}

#access {
    background-image: url("../images/dayne-topkin-101955.jpg");
    min-height: 100%;
    width: 100%;
    background-size: cover;

}

#jumboaccess {
    background-color: #1497A3;
    color: white;
    height: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
    opacity: .80;
}


#InputUserName {


}

#InputPassword {
    margin-top: 10px

}


#login-submit-btn {
    margin-top: 10px;


}